.Portfolio {

}

.portfolio-strip {
  background-color: #C7EF00;
  width: 200px;
  height: 300vh;
  position: absolute;
  left: 100px;
  margin-top: -80px;
}

.Project {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 40px 0px;
}

.project-image {
    width: 50%;
}

.project-deets-wrap {
  background-color: #06D6A0;
  width: 35vw;
  margin-right: 100px
}

.project-deets-strip {
  background-color: #06D6A0;
  height: 220vh;
  width: 250px;
  position: absolute;
  right: 192px;
}

.project-details {
    padding: 40px;
    letter-spacing: 1px;
    line-height: 30px;
    color: white;
}

/*.Project:nth-child(odd) img{

}*/

.loading {
    text-align: center;
}

.project-image img {
    height: 300px; width: 400px;
    margin-left: 120px;
    filter: drop-shadow(16px 16px 10px grey) blur(2px) opacity(0.9);
    border-radius: 50%;
    transform: scale(0.5);
    transition: all 0.1s;
}

.project-image img:hover {
  filter: drop-shadow(16px 16px 10px grey) blur(0px) opacity(1.0);
  transform: scale(1.0);
  border-radius: 0px;
}

.project-links {
    display: inline;
}
.project-links li:hover {
    text-decoration: underline;
}
