.Portfolio {
}

#div-line {
    z-index: -1;
    border-left: 2px solid #CCE3DE;
    height: 90%;
    width: 2px;
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
}

.Project {
    position: relative;
    width: 45%;
    padding: 30px;
}

.Project:nth-child(odd) {
    margin-left: 50%;
}

.loading {
    text-align: center;
}
