body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F9F9;
}

a:hover {
    color: #BDC3C7;
    font-style: italic;
}

a:focus {
    color: #626567;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #D7DBDD;
}

.nav-link {
    color: #BDC3C7;
}

.selected {
    color: #626567;
    font-weight: bold;
}

.main-box {
    height: 85vh;
    color: #626567;
    display: flex;
    flex-direction: row;

}



.footer {
    background-color: #D7DBDD;
    height: 50px;
}

.sidebar {
    font-family: 'Bungee Shade', cursive;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 54px;
    padding: 30px 10px 0px 10px;
}

.content-box {
    border: 5px solid;
    border-radius: 5px;
    width: 77vw;
    height: 70vh;
    box-shadow: inset 0px 0px 20px 0px;
    margin: 8vh 9vh;
    padding: 20px;
    transition: 0.5s;
}

.content-box:hover {
    transform: scale(1.005);
}

.content-box h1 {
    text-align: center;
    margin-top: 100px;
}
