.Home {
  height: 110vh;
  width: 100vw;
  padding-top: 100px;
  font-family: 'Raleway', sans-serif;
}

.logo {
  background-image: url('../../img/maLogo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 30%; left: 50%;
  transform: translate(-50%);
}

.text-one-wrap {
  position: absolute;
  top: 50%; left: 25%;
  transform: translate(-50%);
}

.text-two-wrap {
  position: absolute;
  top: 50%; left: 75%;
  transform: translate(-50%);
}

#typed-text-one {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
      typing 2.5s steps(70),
      cursor .75s step-end infinite;
}

#typed-text-two {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
      typing 2.0s 3.2s steps(70),
      cursor .75s 3.2s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes cursor {
  from{ border-color: black }
  50% { border-color: transparent; }
  to { border-color: black }
}
