.Contact {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  width: 100vw;
  padding-top: 120px;
}

.contact-wrap {
  position: relative;
  display: inline-block;
  top: 30%; left: 30%;
  transform: translate(-50%);
}

.contact-list {
  list-style: none;
  font-size: 24px;
  line-height: 2;
  padding: 32px;
  margin-top: 20px;
}

    /*port EmailDrop component stylings*/

.email {
  cursor: pointer;
}

.EmailDrop {
  box-sizing: border-box;
  width: 140px;
  height: 60px;
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  overflow: hidden;
  font-size: 12px;
  background-color: black;
  transition: all 0.5s;
  transform: scale(0.0);
}
.show-email {
  transform: scale(1.0);
}
#copy-button {
  cursor: pointer;
  width: 40px;
  height: 20px;
  margin: 7px 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 12px;
  border-radius: 5px;
}

#copy-button:active {
  outline: 0;
  transform: scale(0.9);
}

@media screen and (max-width: 460px) and (orientation: portrait) {
  .Contact {
    font-size: 26px;
  }

  .contact-wrap {
    position: relative;
    display: inline-block;
    top: 20%; left: 50%;
    transform: translate(-50%);
  }

  .contact-list {
    font-size: 32px;
  }

  #EmailDrop {
    width: 240px;
    height: 120px;
  }

  #email-address {
    display: none;
  }

  #copy-button {
    width: 95%;
    height: 95%;
    margin: 0px;
    padding: 0px;
  }

}
