.Contact {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  width: 100vw;
  padding-top: 120px;
}

.contact-wrap {
  position: relative;
  display: inline-block;
  top: 30%; left: 30%;
  transform: translate(-50%);
}

.contact-list {
  list-style: none;
  font-size: 24px;
  line-height: 2;
  padding: 32px;
  margin-top: 20px;
}
