        /*animation*/
#typed-text {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        cursor .75s step-end infinite;
    animation-delay: 2s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

        /*main*/

.Jumbotron {
  margin: 60px 60px 0px 60px;
  display: grid;
  grid-template-columns: auto 200px;
}

.jumbo-wrap-one {
  height: 150vh;

}
  .jumbo-background {
    height: 100%;
    width: 100%;
    background-color: #B3B3B3;
    /*background-image: url('../../img/coffee-and-computer.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) blur(2px);*/
  }
  .jumbo-content {
    position: relative;
    top: 25%; left: 50%;
    transform: translate(-50%);
    width: 467px;
    color: white;
  }
  .jumbo-content h1 {
    font-size: 80px;
    margin-bottom: 50px;
  }

.jumbo-wrap-two {
  display: flex;
  flex-direction: column;
  height: 200vh;
  margin: -50px -20px 0px 0px;
  background-color: #0E0F19;
  justify-content: space-between;
}

.ContactIcons {
  background-color: #0E0F19;
  height: 500px;
  margin-top: 100px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.ContactIcons i {
    font-size: 50px;
    color: ivory;
}

.Blurb {
  box-sizing: border-box;
  background-color: rgba(50,50,50,0.5);
  position: relative;
  top: 55%; left: 60%;
  transform: translate(-50%);
  padding: 80px;
  width: 70vw;
  height: 70vh;
  color: white;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 20px;
}

.logo {
  /*background-image: url('../../img/maLogoWhite.png');
  background-size: cover;
  width: 100%;
  align-self: center;*/
}
